@import '../../../styles/abstracts/mixins';
@import '../../../styles/abstracts/variables';

.list {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 3rem;

	table .btn-danger {
		margin-top: 0;
		padding: 0.8rem 1rem;
		border-radius: 1rem;
	}

	.btn-center {
		margin-top: 5rem;
	}

	&-total {
		margin: 3rem 4rem 0;
		text-align: end;
		font-size: 2rem;

		@include respond(phone) {
			margin: 3rem 1rem 0;
		}

		&-price {
			font-size: 2.5rem;
			font-weight: bold;
			color: $dark-color;
		}
	}

	.table {
		@include respond(phone) {
			width: 100%;

			tr {
				border: none;

				&:hover {
					background-color: white;
				}
			}
		}

		&-full {
			.form-group-input {
				width: 70%;
				margin: 0 auto;
			}

			@include respond(phone) {
				visibility: hidden;
				display: none;
			}
		}

		&-small {
			visibility: hidden;
			display: none;
			width: 100%;

			&.border {
				border-bottom: 1px solid $primary-color;
			}

			@include respond(phone) {
				display: table;
				visibility: visible;
			}

			&-first {
				width: 20%;
				img {
					width: 7.5rem;
				}
				&-quantity {
					display: flex;
					justify-content: center;
					align-items: center;
					font-size: 2.5rem;
					margin-top: -1rem;

					&-number {
						padding: 0.5rem;
					}

					&-icon {
						font-size: 2.7rem;
						color: $dark-color;
						background-color: inherit;
						padding: 0.6rem 0 0;
						margin: 0;
						border: none;
						cursor: pointer;

						&:active,
						&:focus {
							outline: none;
						}

						&.danger {
							color: $danger-color;
						}

						&.btn:hover {
							transform: none !important;
						}
					}
				}
			}

			&-sec {
				width: 80%;
				text-align: start;
				padding: 1.5rem 1rem;
				vertical-align: top;
				position: relative;

				&-flex {
					display: flex;
					align-items: flex-start;
				}

				&-cancel {
					font-size: 3.5rem;
					margin: -0.5rem 0 0 1rem;
					padding: 0;
					background-color: inherit;
					color: $danger-color;
				}

				&-name {
					font-size: 2.3rem;
					color: $dark-color;
				}

				&-price {
					margin-top: 1rem;
					font-size: 1.8rem;
				}

				&-total {
					font-size: 2rem;
					text-align: end;
				}
			}
		}
	}

	&-error {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;

		&-msg {
			color: $danger-color;
			font-size: 3rem;

			@include respond(phone) {
				font-size: 2.5rem;
			}
		}
	}
}
