@import '../../../styles/abstracts/variables';

.generator {
	margin-top: 5rem;
	width: 100%;

	.form {
		width: 90%;

		&-input {
			display: flex;
			justify-content: space-around;
		}
		.form-group {
			width: 40%;
			margin-right: 1rem;
		}

		.btn {
			margin-top: 0;
		}
	}
}
