@import '../../../styles/abstracts/variables';

.generator {
	margin-top: 5rem;
	width: 100%;

	.form {
		width: 70%;
		font-size: 1.5rem;

		&-input {
			display: flex;
			justify-content: space-around;
		}
		.form-group {
			width: 40%;
		}

		.btn {
			margin-top: 0;
			//font-size: 1.6rem;
		}
	}

	.margin-r {
		margin-right: 3rem;
	}

	&-error {
		text-align: center;
		font-size: 2rem;
		margin: 2rem 0;
		color: $danger-color;
	}
}
