@import '../../../styles/abstracts/absract';

.header {
	position: relative;
	min-height: 30vh;
	font-family: 'Amiri', serif;
	font-weight: 300;
	font-style: italic;
	display: flex;
	justify-content: center;
	align-items: center;

	@include respond(small-phone) {
		min-height: 20vh;
	}

	&-primary {
		font-size: 7rem;
		color: $dark-color;
		position: relative;

		@include respond(small-phone) {
			font-size: 5.5rem;
		}
	}

	&-secondary {
		font-size: 3rem;
		color: $primary-color;
		position: absolute;
		top: 8.5rem;
		right: -2.5rem;

		@include respond(small-phone) {
			font-size: 2.7rem;
			top: 6.5rem;
		}
	}
}
