@import '../../../styles/abstracts/absract';

.scanner {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: auto;
	position: relative;

	&-tool {
		margin-top: 3rem;
	}

	&-description {
		text-align: center;
		margin-top: 4rem;
		font-size: 2rem;

		&-name {
			font-size: 3rem;
			color: $dark-color;
			margin-bottom: 4rem;
		}

		&-img {
			width: 30rem;
		}

		&-price {
			font-size: 4rem;
			padding-bottom: 2rem;
		}

		&-msg {
			&-success {
				color: $secondary-color;
			}

			&-danger {
				color: $danger-color;
			}
		}
	}

	&-error {
		font-size: 2rem;
		color: $danger-color;
	}
}
