@import '../../../styles/abstracts/variables';
@import '../../../styles/abstracts/mixins';

.scanner {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: auto;
	position: relative;

	&-description {
		text-align: center;
		margin-top: 4rem;
		font-size: 2rem;

		&-name {
			font-size: 3rem;
			color: $dark-color;
			margin-bottom: 4rem;
		}

		&-img {
			width: 30rem;
		}

		&-price {
			font-size: 4rem;
			padding-bottom: 2rem;
		}

		&-btn {
			text-align: center;
			margin-top: 3rem !important;

			.btn:not(:last-child) {
				margin-right: 1rem;
			}
		}

		&-msg {
			&-success {
				color: $secondary-color;
			}

			&-danger {
				color: $danger-color;
			}
		}
	}

	&-btn {
		margin: 0;
		text-align: center;

		.btn {
			margin: 0 !important;
		}
	}

	&-error {
		font-size: 2rem;
		color: $danger-color;
	}
}
