@import '../../../styles/abstracts/variables';

.scanner {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	position: relative;

	&-description {
		text-align: center;
		&-name {
			font-size: 3rem;
			color: $dark-color;
			margin-bottom: 4rem;
		}

		&-price {
			font-size: 4rem;
		}

		&-btn {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			width: max-content;

			&:hover {
				transform: translateX(-50%) scale(1.1) translateY(-0.1rem) !important;
			}
		}
	}
}
